SSH - Improve audit log

## Current issues

- Logs for global request and channel type are at debug level.
- Duplicate `direction` key in the channel request log

```json
{
  "levelname": "debug",
  "ts": "2026-03-24T16:10:24.570-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/request_handler.go:119",
  "message": "Channel request",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": ["Developer", "OnCall"]
  },
  "conn_id": "",
  "session": {
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "1a1a458e6edbfbf7f5017d2e3399206d48e0e7c19425d68fcad5acabec716c51"
  },
  "direction": "downstream -> upstream",  // connection direction
  "channel_pair_id": "53b4633f-886e-4051-864d-3d72204da931",
  "direction": "downstream -> upstream",  // channel request direction
  "type": "pty-req"
}
```

## Structured logs

Audit logs from SSH backend would be under `ssh` key with the following schema
```json
{
  "user": {},
  // Other gateway properties.
  // ...
  "ssh": {
    // key exchange hash (H) from RFC 4253, section 7.2. Unique per SSH connection
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "server_version": "SSH-2.0-OpenSSH_10.2",
    
    "global request"

    "channel": {  // optional
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "type": "session",
      "source": "downstream",
      "target": "upstream"
    },
    
    "request": { // channel request. Optional, if exists, the `channel` key also exists
      "type": "shell",
      "source": "downstream",
      "target": "updstream"
    }

  },
  
  // Session recording key are still at the top level
  "asciicast": "{\"version\":2,\"width\":156,\"height\":34,\"timestamp\":1774651084,\"command\":\"shell\",\"user\":\"admin\"}\n[0.000108292,\"o\",\"Welcome to OpenSSH Server\\r\\n\"]\n[0.005471042,\"o\",\"\\u001b[?2004h4d9db44f7d2d:~$ \"]\n[2.100575875,\"o\",\"l\"]\n[2.278052208,\"o\",\"s\"]\n[2.389944583,\"o\",\" \"]\n[2.495212542,\"o\",\"-\"]\n[2.605426042,\"o\",\"a\"]\n[2.7692562499999998,\"o\",\"l\"]\n[3.260444,\"o\",\"\\r\\n\\u001b[?2004l\\r\"]\n[3.2687394579999998,\"o\",\"total 44\\r\\ndrwxr-xr-x 9 admin admin 4096 Mar 27 19:00 .\\r\\ndrwxr-xr-x 1 root  root  4096 Mar 25 21:16 ..\\r\\n-rw------- 1 admin admin   62 Mar 27 19:01 .bash_history\\r\\ndrwx------ 3 admin admin 4096 Mar 27 19:00 .config\\r\\ndrwx------ 2 admin admin 4096 Mar 25 21:16 .ssh\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 10 00:13 ca\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 10 00:13 host\\r\\ndrwxr-xr-x 3 admin admin 4096 Mar 25 21:16 logs\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 25 21:16 ssh_host_keys\\r\\ndrwxr-x--- 3 root  admin 4096 Mar 25 21:16 sshd\\r\\n-rw-r--r-- 1 admin admin    4 Mar 25 21:16 sshd.pid\\r\\n\"]\n[3.269052875,\"o\",\"\\u001b[?2004h4d9db44f7d2d:~$ \"]\n[3.438325292,\"o\",\"e\"]\n[3.663692583,\"o\",\"x\"]\n[3.822866,\"o\",\"i\"]\n[3.96072025,\"o\",\"t\"]\n[4.075722458,\"o\",\"\\r\\n\\u001b[?2004l\\rlogout\\r\\n\"]",
  "asciicast_sequence_num": 1
}
```

## Examples

<details>
<summary>Shell session</summary>

```
❯ ssh 127.0.0.1 -o UserKnownHostsFile=known_hosts_local -p 63412        ▼  1.26.0 12:01:31 PM


██████████╗██╗    ██╗██╗███╗   ██╗ ██████╗  █████╗ ████████╗███████╗
 ╚══██╔═══╝██║    ██║██║████╗  ██║██╔════╝ ██╔══██╗╚══██╔══╝██╔════╝
    ██║    ██║ █╗ ██║██║██╔██╗ ██║██║  ███╗███████║   ██║   █████╗
    ██║    ██║███╗██║██║██║╚██╗██║██║   ██║██╔══██║   ██║   ██╔══╝
    ██║    ╚███╔███╔╝██║██║ ╚████║╚██████╔╝██║  ██║   ██║   ███████╗
    ╚═╝     ╚══╝╚══╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝

################################################################################################
# Welcome! You are now securely connected via Twingate.                                        #
################################################################################################

Welcome to OpenSSH Server
4d9db44f7d2d:~$ ls -al
total 44
drwxr-xr-x 9 admin admin 4096 Mar 27 19:00 .
drwxr-xr-x 1 root  root  4096 Mar 25 21:16 ..
-rw------- 1 admin admin   62 Mar 27 19:01 .bash_history
drwx------ 3 admin admin 4096 Mar 27 19:00 .config
drwx------ 2 admin admin 4096 Mar 25 21:16 .ssh
drwxr-xr-x 2 admin admin 4096 Mar 10 00:13 ca
drwxr-xr-x 2 admin admin 4096 Mar 10 00:13 host
drwxr-xr-x 3 admin admin 4096 Mar 25 21:16 logs
drwxr-xr-x 2 admin admin 4096 Mar 25 21:16 ssh_host_keys
drwxr-x--- 3 root  admin 4096 Mar 25 21:16 sshd
-rw-r--r-- 1 admin admin    4 Mar 25 21:16 sshd.pid
4d9db44f7d2d:~$ exit
logout
Connection to 127.0.0.1 closed.
```

Audit logs
```json
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.199-0700",
  "logger": "gateway",
  "caller": "connect/conn.go:228",
  "message": "Authenticated connection",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "resource_address": "127.0.0.1"
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.299-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/proxy.go:261",
  "message": "SSH connection established",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.301-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/conn_pair.go:215",
  "message": "SSH global request",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "global_request": {
      "source": "upstream",
      "target": "downstream",
      "type": "hostkeys-00@openssh.com"
    },
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.302-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/conn_pair.go:186",
  "message": "SSH channel opened",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "channel": {
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "source": "downstream",
      "target": "upstream",
      "type": "session"
    },
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.302-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/request_handler.go:172",
  "message": "SSH channel request",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "channel": {
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "type": "session"
    },
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "request": {
      "source": "downstream",
      "target": "upstream",
      "type": "pty-req"
    },
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:04.303-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/request_handler.go:172",
  "message": "SSH channel request",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "channel": {
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "type": "session"
    },
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "request": {
      "source": "downstream",
      "target": "upstream",
      "type": "shell"
    },
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:08.382-0700",
  "logger": "gateway.audit",
  "caller": "sessionrecorder/recorder.go:275",
  "message": "session finished",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "channel": {
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "source": "downstream",
      "target": "upstream",
      "type": "session"
    },
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "server_version": "SSH-2.0-OpenSSH_10.2"
  },
  "asciicast": "{\"version\":2,\"width\":156,\"height\":34,\"timestamp\":1774651084,\"command\":\"shell\",\"user\":\"admin\"}\n[0.000108292,\"o\",\"Welcome to OpenSSH Server\\r\\n\"]\n[0.005471042,\"o\",\"\\u001b[?2004h4d9db44f7d2d:~$ \"]\n[2.100575875,\"o\",\"l\"]\n[2.278052208,\"o\",\"s\"]\n[2.389944583,\"o\",\" \"]\n[2.495212542,\"o\",\"-\"]\n[2.605426042,\"o\",\"a\"]\n[2.7692562499999998,\"o\",\"l\"]\n[3.260444,\"o\",\"\\r\\n\\u001b[?2004l\\r\"]\n[3.2687394579999998,\"o\",\"total 44\\r\\ndrwxr-xr-x 9 admin admin 4096 Mar 27 19:00 .\\r\\ndrwxr-xr-x 1 root  root  4096 Mar 25 21:16 ..\\r\\n-rw------- 1 admin admin   62 Mar 27 19:01 .bash_history\\r\\ndrwx------ 3 admin admin 4096 Mar 27 19:00 .config\\r\\ndrwx------ 2 admin admin 4096 Mar 25 21:16 .ssh\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 10 00:13 ca\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 10 00:13 host\\r\\ndrwxr-xr-x 3 admin admin 4096 Mar 25 21:16 logs\\r\\ndrwxr-xr-x 2 admin admin 4096 Mar 25 21:16 ssh_host_keys\\r\\ndrwxr-x--- 3 root  admin 4096 Mar 25 21:16 sshd\\r\\n-rw-r--r-- 1 admin admin    4 Mar 25 21:16 sshd.pid\\r\\n\"]\n[3.269052875,\"o\",\"\\u001b[?2004h4d9db44f7d2d:~$ \"]\n[3.438325292,\"o\",\"e\"]\n[3.663692583,\"o\",\"x\"]\n[3.822866,\"o\",\"i\"]\n[3.96072025,\"o\",\"t\"]\n[4.075722458,\"o\",\"\\r\\n\\u001b[?2004l\\rlogout\\r\\n\"]",
  "asciicast_sequence_num": 1
}
{
  "levelname": "info",
  "ts": "2026-03-27T15:38:08.382-0700",
  "logger": "gateway.audit",
  "caller": "sshhandler/conn_pair.go:201",
  "message": "SSH channel closed",
  "version": "dev",
  "user": {
    "id": "user-1",
    "username": "alex@acme.com",
    "groups": [
      "Developer",
      "OnCall"
    ]
  },
  "conn_id": "",
  "ssh": {
    "channel": {
      "id": "c3680040-9b88-4823-942d-2584b507097a",
      "type": "session"
    },
    "client_version": "SSH-2.0-OpenSSH_10.2",
    "id": "5469b4092e0a098942fb09b0733635bb0ff20f0cd06a65e0900aef8b5b263e4a",
    "server_version": "SSH-2.0-OpenSSH_10.2"
  }
}
```

</details>